doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mocha.css')
  body
    block content

    #mocha


    script(type='text/javascript', src='/javascripts/mocha.js')
    script(type='text/javascript', src='/javascripts/chai.js')
    script(type='text/javascript', src='/javascripts/chai-http.js')
    script(type='text/javascript', src='/javascripts/test.js')

